<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label stacked>Username</ion-label>
      <ion-input type="text" #username></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password" #password></ion-input>
    </ion-item>
  
  </ion-list>
  <div padding>
    <button block ion-button (click)="signIn()">Sign In</button>
  </div>
  <div padding>
    <button block ion-button color="secondary" (click)="signUp()">Sign Up</button>
  </div>
</ion-content>
