<!--
  Generated template for the RegisterPage page.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label stacked>Confirm Password</ion-label>
      <ion-input [(ngModel)]="confirm_password" type="password"></ion-input>
    </ion-item>

  
  </ion-list>
  <div padding>
    <button block ion-button (click)="register()">Sign Up</button>
  </div>
</ion-content>
