<!--
  This web contain a chat view. Send, delete and read messages in chat. Only delete a own messages
-->
<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>
      Chat
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content #content>
  <ion-grid>
    <ion-list no-lines class="msgbubble" *ngFor="let msg of messages | async">
      <!-- This code set a user logged messages in right part screen and add the posibility to delete them-->
      <ion-list *ngIf="msg.payload.val().uid == user.uid" class="innermsg right">
          <span *ngIf="msg.payload.val().image">
              <img width="40%" height="40%" [src]="msg.payload.val().image" *ngIf="msg.payload.val().image"/>
              <br>
          </span>
          <span>{{ msg.payload.val().message }}</span>
          <br>
          <div style="font-size: 12px">{{msg.payload.val().date | date:'dd.MM hh:mm'}}</div>
          <button ion-button small item-end icon-only (click)="deleteMessage(msg)">
              <ion-icon name="close"></ion-icon>
            </button>
        </ion-list>

      <!-- This code set a other users messages in left part screen -->
      <ion-list *ngIf="msg.payload.val().uid != user.uid" class="innermsg left">
        <span style="font-size: 18px; font-weight: bold;">{{ msg.payload.val().author }}:</span>
        <span *ngIf="msg.payload.val().image">
            <br>
            <img width="40%" height="40%" [src]="msg.payload.val().image" *ngIf="msg.payload.val().image"/>
        </span>
        <br>
        <span>{{ msg.payload.val().message }}</span>
        <br>
        <div style="font-size: 12px">{{msg.payload.val().date | date:'dd.MM hh:mm'}}</div>
      </ion-list>
    </ion-list>
  </ion-grid>
</ion-content>

<ion-footer no-shadow no-border>
  <ion-toolbar position="bottom">

    <img width="20%" height="20%" [src]="newImage" *ngIf="newImage" />

    <ion-item no-lines>
      <!-- Input and Send a message-->
      <ion-input [(ngModel)]="newMessage" type="text" placeholder="Write here"></ion-input>
      <button ion-button outline item-end icon-only (click)="actionPicture()" [disabled]="newImage">
        <ion-icon name="camera"></ion-icon>
      </button>
      <button ion-button outline item-end icon-only (click)="sendMessage()" [disabled]="!newMessage && !newImage">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>

  </ion-toolbar>
</ion-footer>