.innermsg {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 15px;
  margin-bottom: 5px;
}

.innermsg.left {
  float: left;
  background-color: #F1F0F0;
  color: black;
}

.innermsg.right {
  float: right;
  //margin-right: 10%;
  background-color: #0084FF;
  color: white;
}

.msgbubble {
  margin-bottom: 10px;
}



